@{
    ViewData["Title"] = "Home Page";
}

<style>

    .html {
        margin: 0px;
        height: 100%;
        width: 100%;
    }

    .body {
        margin: 0px;
        min-height: 100%;
        width: 100%;
        
    }

</style>

<section class="container-fluid">


    <div id="carouselExampleSlidesOnly" class="carousel slide"  data-bs-ride="carousel">
        <div class="carousel-inner" style="height:400px">

            <div class="carousel-item active">
                <img src="~/Images/banner1.jpg" class="d-block w-100 mh-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Images/banner2.jpg" class="d-block w-100 mh-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Images/banner3.jpg" class="d-block w-100 mh-100" alt="...">
            </div> 
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid" style="text-align:center">
        <h1 class="display-4">Welcome to our Bookstore</h1>
    </div>

    <div class="row" style="padding:40px">
        <div class="col-md-4 col-sm-12">
                <div class="container" style="text-align:center">             
                    <p class="lead">To view our book collection click here:</p>
                    <a class="btn btn-danger" asp-area="" asp-controller="Books" asp-action="Index">Libliary</a>
                    <br />
                </div>
            </div>

        <div class="col-md-4 col-sm-12">
                <div class="container" style="text-align:center">
                    <p class="lead">To view our authors click here:</p>
                    <a class="btn btn-danger" asp-area="" asp-controller="Authors" asp-action="Index">Authors</a>
                    <br />
                </div>
            </div>

        <div class="col-md-4 col-sm-12">
            <div class="container" style="text-align:center">
                <p class="lead">To view the genres we offer click here:</p>
                <a class="btn btn-danger" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>
                <br />
            </div>
         </div>
    </div>

</section>


